* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.material-icons-round{
    display: inline-flex;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

a, a:link, a:visited, a:hover, a:active {
    color: inherit;
}

ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
  
img,
video {
    height: auto;
    max-width: 100%;
}
  
iframe {
    border: 0;
}
  
table {
    border-collapse: collapse;
    border-spacing: 0;
}
  
td,
th {
    padding: 0;
}
  
td:not([align]),
th:not([align]) {
    text-align: inherit;
}

html {
    background-color: #F6FFFE;
    font-family: 'Montserrat', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
            text-size-adjust: 100%;
}
  
article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}


/* Global Colors */

.primary-color {
    color: #32B78D;
}

.secondary-color {
    color: #EF9A9A;
}

.accent-color {
    color: #0288D1;
}

.black-text-color {
    color: #000000;
}

.white-text-color {
    color: #FFFFFF;
}

.blue-text-color {
    color: #002B5B;
}

.light-grey-text-color {
    color: #808080;
}

.dark-grey-text-color {
    color: #4E4E4E;
}

/* Global background Colors */

.primary-background-color {
    background-color: #66B894;
}

.secondary-background-color {
    background-color: #EF9A9A;
}

.accent-background-color {
    background-color: #0288D1;
}

.black-text-background-color {
    background-color: #000000;
}

.white-text-background-color {
    background-color: #FFFFFF;
}

.blue-text-background-color {
    background-color: #002B5B;
}

.light-grey-text-background-color {
    background-color: #808080;
}

.dark-grey-text-background-color {
    background-color: #4E4E4E;
}

.page-background-color {
    background-color: #F6FFFE;
}

.full-transparency-background-color {
    background-color: #00000000;
}

/* Global Fonts */

.header-menu-text {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.header-menu-title-text {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 600;
}

.header-menu-description-text {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
}

.footer-title-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
}

.footer-description-text {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
}